<mat-sidenav-container fullscreen>
  
    <mat-sidenav #sidenav mode="push" class="app-sidenav">
      <mat-toolbar color="primary">
        <!--future svg to go here-->
        <span class="toolbar-filler"></span>
        <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
          <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item class="sidenav-link" [routerLink]="['/']" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>account_balance</mat-icon>
          <span class="title" mat-line>Home</span>
          <span mat-line class="secondary">(DashBoard)</span>
        </a>
        <a mat-list-item class="sidenav-link" [routerLink]="['/about']" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>android</mat-icon>
          <span class="title" mat-line>About Us</span>
          <span mat-line class="secondary">Know our mission</span>
        </a>
        <a mat-list-item class="sidenav-link" [routerLink]="['/contact']" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon><i class="material-icons">panorama_wide_angle</i></mat-icon>
          <span class="title" mat-line>Contact Us</span>
          <span mat-line class="secondary">All Dev's are here</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar id="appToolbar" [ngClass]="{'toolbar-fullscreen': (fullscreen$ | async)}" color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
              <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
      </button>
      <h1 class="component-title">
        <a class="title-link">{{appTitle}}</a>
      </h1>
      <span class="toolbar-filler"></span>
      <button id="button-login" mat-button [routerLink]="['/signupin']" *ngIf="!(user | async)">Log In</button>
      <button id="button-logout" mat-button (click)="logout()">Log Out</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-container>